header{
    width: 100%;
    background-color: #001111;
    border-bottom: 2px solid #DDD;
    
}

header .container{
    flex-direction: row;
    justify-content: flex-start;
}

header .head-title{
    flex: 2;
    display: flex;
    justify-content: center;
}

header h2{
    color: #DDD;
}

header form{
    color: #DDD;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header label{
    display: flex;
    
}

header label input{
    width: 15ch;
    margin-left: 5px;
    margin-right: 8px;
}

header label a{
    margin-right: 20px;
}

.login-page{
    flex:1;
    width: 100%;
}

.login-button:hover{
    cursor: pointer;
}

.login-page a{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #DDD;
    border: 1px solid #AAA;
    box-shadow: 1px 1px 3px #fff;
    text-decoration: none;
    color: #001111;
}

.login-page a:hover{
    background-color: #AAA;
}