<body>
    <header>
        <div class="container">
            <div class="head-title">
                <h2>ZG - Linketinder</h2>
            </div>

            <div class="view-page">
                    <label>
                        <div>Welcome, {{loggedPerson.name}} </div> 
                    </label>

                    <div class="logout-button" (click)="logout()">
                        <a>Logout</a>  
                    </div>
            </div>           
        </div>
    </header>
